{% load static %}
{% if user.is_authenticated %}
<nav class="navbar">
  <div class="navbar-left">
    <a href="{% url 'index' %}">
      <img src="{% static 'logo/WEBIO1.png' %}" alt="WEBIO Logo" class="logo-img">
    </a>
  </div>

  <div class="navbar-center">
    <div class="search-bar">
      <input type="text" placeholder="Search" required>
      <button type="button" class="clear-btn" onclick="this.previousElementSibling.value=''">&times;</button>
    </div>
  </div>

  <div class="navbar-right">
    <a href="{% url 'index' %}"><img src="{% static 'icons/home.svg' %}" alt="Home"></a>
    <a href="{% url 'messages' %}"><img src="{% static 'icons/message.svg' %}" alt="Messages"></a>
    <a href="{% url 'new_post' %}"><img src="{% static 'icons/add.svg' %}" alt="New Post"></a>
    <a href="{% url 'likes' %}"><img src="{% static 'icons/likes.svg' %}" alt="Likes"></a>

    <a href="{% url 'profile' %}">
      <img src="{% static 'icons/user.png' %}" alt="Profile" class="profile-pic">
    </a>

    <a href="{% url 'logout' %}">Logout</a>
  </div>
</nav>
{% endif %}
